@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
  background: linear-gradient(
          90deg,
          #363568 69%,
          #24263e 100%
  );
  color: #fff;
}

.game--btn {
  display: block;
  text-align: center;
  min-width: 200px;
  margin: 50px auto 0 auto;
  background: linear-gradient(rgb(255, 255, 255), rgb(255, 204, 145));
  box-shadow: rgba(0, 0, 0, 0.25) 0 5px 10px;
  height: 40px;
  cursor: pointer;
  border-radius: 10px;
}
